img {
    width: 40%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a[role="button"]{
    background: white;
    border-color: white;
    color: #4e2306;
}

a:hover[role="button"]{
    background: #4e2306;
    border-color: white;
    color: white;
}

a:after[role="button"]{
    background: #4e2306;
    border-color: white;
    color: white;
}

head {
    background-color: #4e2306;
}

body {
    background-color: #4e2306;
}

label {
  color: white;
  padding: 8px;
  font-family: cambria;
}

p.lead {
  font-family: cambria;
  color: white;
  padding: 8px;
  align= right;
}

caption {
    font color= white;
    font-family: cambria;
}


table.tabelanc{
    border-color: white;
}

input {
  background-color: black;
  font-family: cambria;
  color: green;
  padding: 8px;
}

input[type='submit']{
  background-color: white;
  font-family: cambria;
  color: #4e2306;
  padding: 8px;
  border-color: white;
}

input:hover[type="submit"]{
    background: #4e2306;
    border-color: white;
}

h3 {
    font-family: cambria;
    color: white;
}

h2 {
    font-family: cambria;
    color: black;
}

h1 {
    color: #4e2306;
    font-family: cambria;
}

hr.style1{
	border-top: 1px solid white;
	width: 50%;
}

div.row{
    align-items: center;
}
