<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

      <!-- CSS Customizado -->
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Calgem Web</title>
    <link rel="shortcut icon" href="/static/images/CalagemWeb.png">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4e2306;">

        <div class="container" align="center">
          <div class="col" >
            <div class="row" >
              <a class="nav-brand" href="/home" ><img class="center" src="/static/images/CalagemWeb.png" ></a>
            </div>

          </div>


        </div>

    </nav>

    <div class="row mt-3"></div>

    <div class ="jumbotrom text-center apresentacao" >
      <div class="container">

        <h3>Calagem Web</h3>

        <div class="row mt-5"></div>

        <a href="/home" class="btn btn-info" role="button">Voltar à página inicial</a>

        <div class="row mt-5"></div>

        <a href="/necessidade" class="btn btn-info" role="button">Escolher outro Método</a>

        <div class="row mt-5"></div>

        <h3>Método da Saturação por Bases</h3>
        <h3>NC (t/ha) = (V2 - V1) * CTC</h3>

        {% if resultado_sb != null %}
        <div class="jumbotron text-center resultado">
          <div class="container">
            <h2>Resultado</h2>
            <h1>{{ resultado_sb }}</h1>
            <h2>{{ complemento }}</h2>
          </div>
        </div>
        <a href="/quantidade" class="btn btn-info" role="button">Passo 02 - Quantidade de calcário</a>
        <div class="row mt-5"></div>
        {% endif %}

        <div class="row" >
              <a href="/tabela" class="btn btn-info" role="button">Para acesar a tabela de dados, clique aqui</a>
        </div>

        <div class="row mt-3"></div>

        <p class="lead">Para calcular a necessidade de calagem para o seu projeto preencha os campos abaixo</p>
      </div>
    </div>



  <div>

    <div class="container" align="center">
      <form action="{{ url_for('send_data') }}" id = "entrada-dados-sb" method="POST">

        <div class="row mt-3"></div>
        <div class="row mt-3"></div>

        <div class="row" >
          <div class="col" >
            <div class="col-md-7">
              <label>Teor de Cálcio (cmol<sub>c</sub>/dm³)</label>
            </div>
          </div>

          <div class="col">
            <div class="col-md-2">
              <input type="text" class="form-control" name="calcio">
            </div>
          </div>
        </div>

        <div class="row mt-3"></div>

        <div class="row">
          <div class="col">
            <div class="col-md-7">
              <label>Teor de Magnésio (cmol<sub>c</sub>/dm³)</label>
            </div>
          </div>

          <div class="col">
            <div class="col-md-2">
              <input type="text" class="form-control" name="magnesio">
            </div>
          </div>
        </div>

        <div class="row mt-3"></div>

        <div class="row">
          <div class="col">
            <div class="col-md-7">
              <label>Teor de Potássio (mg/dm³)</label>
            </div>
          </div>

          <div class="col">
            <div class="col-md-2">
              <input type="text" class="form-control" name="potassio">
            </div>
          </div>
        </div>

        <div class="row mt-3"></div>

        <div class="row">
          <div class="col">
            <div class="col-md-7">
              <label>Teor de Sódio (mg/dm³)</label>
            </div>
          </div>

          <div class="col">
            <div class="col-md-2">
              <input type="text" class="form-control" name="sodio">
            </div>
          </div>
        </div>

        <div class="row mt-3"></div>

        <div class="row">
          <div class="col">
            <div class="col-md-7">
              <label>Teor de H+Al (cmol<sub>c</sub>/dm³)</label>
            </div>
          </div>

          <div class="col">
            <div class="col-md-2">
              <input type="text" class="form-control" name="hidrogenio-mais-aluminio">
            </div>
          </div>
        </div>

        <div class="row mt-3"></div>

        <div class="row">
          <div class="col">
            <div class="col-md-7">
              <label>Saturação por bases (V<sub>2</sub>) (%)</label>
            </div>
          </div>

          <div class="col">
            <div class="col-md-2">
              <input type="text" class="form-control" name="saturacao-por-bases">
            </div>
          </div>
        </div>

        <div class="row mt-5"></div>

        <input type="submit" class="btn btn-primary" value="Calcular">

        <div class="row mt-5"></div>

      </form>

    </div>

  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>

<hr class="style1">
<footer>
  <center>
  <p class="lead">Em breve, também, na Google Play Store</p>
  </center>
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <img class="center" src="/static/images/CalagemAppPlay.png" style="width:50%">
      </div>
      <div class="col">
      </div>

    </div>
  <div class="row mt-5"></div>

  <center>
  <p class="lead">Desenvolvido por</p>
  </center>
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <a class="nav-brand" href="http://codigoagro.com/" target="_blank" ><img class="center" src="/static/images/codigoagro.png" style="width:100%"></a>
    </div>
    <div class="col">
      <a class="nav-brand" href="http://daniloas.com/" target="_blank" ><img class="center" src="/static/images/daniloas.png" style="width:50%"></a>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row mt-5"></div>
</footer>

</html>