<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

      <!-- CSS Customizado -->
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Calagem Web</title>
    <link rel="shortcut icon" href="/static/images/CalagemWeb.png">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4e2306;">

        <div class="container" align="center">
          <div class="col" >
            <div class="row" >
              <a class="nav-brand" href="/home" ><img class="center" src="/static/images/CalagemWeb.png" ></a>
            </div>

          </div>


        </div>

    </nav>

    <div class="row mt-3"></div>

    <div class ="jumbotrom text-center apresentacao" >
      <div class="container">

        <h3>Calagem Web</h3>

        <div class="row mt-5"></div>

        <a href="/home" class="btn btn-info" role="button">Voltar à página inicial</a>

        <div class="row mt-5"></div>

        <a href="/necessidade" class="btn btn-info" role="button">Escolher outro Método</a>

        <div class="row mt-5"></div>

        <a href="/page04" class="btn btn-info" role="button">Voltar ao cálculo</a>

        <div class="row mt-5"></div>

        <h3>Algoritmo de Guarçoni, Alvarez e Camilo (2007)</h3>

        <div class="row mt-5"></div>

        <p class="lead" align="justify">Os cálculos do método que chamamos de Algoritmo de Guarçoni, Alvarez e Camilo (2007)
            foram desenvolvidos com base na pesquisa dos pesquisadores André Guarçoni, Victor H. Alvarez e Nilza de F. P.
            Camilo. Guarçoni M. et al. (2007)</p>

        <p class="lead" align="center"> Abaixo segue o texto apresentado pelo pesquisador André Guarçoni no Jornal
            Informações Agronômicas, nº 144: </p>

        <p class="lead" align="justify">O método da saturação por bases geralmente propricia as menores doses de calcário, o que pode
            ser desejável. Entretando, quando a CTC do solo a pH 7,0 é baixa, como em solos arenosos, este método tende
            a gerar uma dose de calcário insuficiente para suprir a necessidade das plantas de café em Ca<sup>2+</sup> e Mg<sup>2+</sup>.
            Portanto, não seria adequado para esse tipo de situação.
        </p>

        <p class="lead" align="justify">O método da neutralização do Al<sup>3+</sup> e elevação dos teores de Ca<sup>2+</sup> e Mg<sup>2+</sup>, por outro lado, pode, em
            algumas situações, originar doses que ultrapassam o valor da CTC total do solo (T), o que certamente eleva o
            pH do solo a valores muito próximos ou maiores que 7,0, fato que é indesejável.
        </p>

        <p class="lead" align="justify">Visando avaliar três algoritmos elaborados para definir a necessidade de calagem utilizando os
        princípios dos dois métodos descritos, Guarçoni M. et al. (2007) calcularam a NC para 380 amostras de solos sob
        cultivo de café. Os autores concluíram que as doses cálculadas pelo método de saturação por bases não seriam
        suficientes para suprir as plantas de café com Ca<sup>2+</sup> e Mg<sup>2+</sup>, na maior parte dos casos. Já as doses calculadas
        com o método da neutralização do Al<sup>3+</sup> e elevação dos teores de Ca<sup>2+</sup> e Mg<sup>2+</sup> poderiam proporcionar excesso de
        calcário em algumas situações. Por outro lado a utilização dos algoritmos apresentou vantagens em relação à
        utilização dos métodos tradicionais, especialmente no fornecimento adequado de Ca<sup>2+</sup> e Mg<sup>2+</sup> e na redução de
        possíveis excessos nas doses a serem aplicadas</p>

        <p class="lead" align="justify"> O algoritmo que proporcionou as melhores necessiades de calagem é composto por três passos
        básicos, sendo descrito a seguir:</p>


        <p class="lead" align="justify">Passo 1: Utilizar a menor dose (NC, em t/ha) calculada por qualquer um dos dois
          métodos; geralmente a dose calculada pelo método da saturação por bases é a menor</p>

        <p class="lead" align="justify">Passo 2: Se a dose definida no Passo 1 é menor do que a necessidade da cultura em
          cálcio e magnésio [X - (Ca<sup>2+</sup> + Mg<sup>2+</sup>)], utilizar o método da neutralização do
            Al<sup>3+</sup> e elevação dos teores de Ca<sup>2+</sup> + Mg<sup>2+</sup>.
          Se for maior, esta é a dose indicada. Observação: X é a necessidade da cultura
            em (Ca<sup>2+</sup> + Mg<sup>2+</sup>), sendo um valor tabelado. Para o café, o valor mais aceito é 3,5.</p>

        <p class="lead" align="justify">Passo 3: Se a dose definida no Passo 2 for maior que o valor da CTC a pH 7,0
            (T), utilizar como NC o próprio valor da CTC a pH 7,0, em t/ha. Se a dose for menor, esta é a dose indicada.</p>

        <p class="lead" align="justify">Seguindo os passos acima descritos, será determinada a melhor dose de calcário
            para o solo de qualquer lavoura de café. Com essa informação em mãos (NC, em t/ha), basta calcular a
            quantidade de calcário a ser aplicada, considerando o valor do PRNT, a superfície coberta e a profundidade
        efetiva de incorporação.</p>

        <p class="lead" align="justify">Referências</p>

        <p class="lead" align="justify"> GUARÇONI M., A.; ALVAREZ V., V. H.; CAMILO, N. F. P. Avaliação e validação de
            algoritmo utilizado para determinar a necessidade de calagem em lavouras de café. In: Simpósio de Pesquisa
            dos Cafés do Brasil, 5., 2007, Águas de Lindóia. Anais... Águas de Lindóia: EMBRAPA, 2007. 1 CD-ROM.</p>

        <p class="lead" align="justify"> ALVAREZ V., V.H.; RIBEIRO, A.C. Calagem. In: RIBEIRO, A. C.; GUIMARÃES, P. T.
            G.; ALVAREZ V., V. H. (Ed.). Recomendação para o uso de corretivos e fertilizantes em Minas Gerais: 5a.
            Aproximação. Viçosa: Comissão de Fertilidade do Solo do Estado de Minas Gerais, 1999. p.43-60.</p>

        <p class="lead" align="justify"> COMISSÃO DE FERTILIDADE DO SOLO DO ESTADO DE MINAS GERAIS (CFSEMG). 1989.
            Recomendação para uso de corretivos e fertilizantes em Minas Gerais. 4ª aproximação. Lavras, MG. 159p.</p>

        <p class="lead" align="justify">GUARÇONI M., A. Fatores de sucesso no manejo nutricional do
            cafeeiro. Jornal Informações Agronômicas. 144. 2013. p.1-12.</p>

      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>

<hr class="style1">
<footer>
  <center>
  <p class="lead">Em breve, também, na Google Play Store</p>
  </center>
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <img class="center" src="/static/images/CalagemAppPlay.png" style="width:50%">
      </div>
      <div class="col">
      </div>

    </div>
  <div class="row mt-5"></div>

  <center>
  <p class="lead">Desenvolvido por</p>
  </center>
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <a class="nav-brand" href="http://codigoagro.com/" target="_blank" ><img class="center" src="/static/images/codigoagro.png" style="width:100%"></a>
    </div>
    <div class="col">
      <a class="nav-brand" href="http://daniloas.com/" target="_blank" ><img class="center" src="/static/images/daniloas.png" style="width:50%"></a>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row mt-5"></div>
</footer>
</html>